/* start variables*/

:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
/* end variables */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
  }
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* small */
@media (min-width: 760px) {
    .container{
        width: 700px;
    }   
}

/* medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }   
}

/* large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }   
}
/* end global rules */
/* begin header  */
header {
    padding: 30px;
}
header .container {
    display: flex;
    justify-content:space-between;
    align-content: center;
}
header .logo {
    width: 60px;
}

header .links {
    position: relative;
}

header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .links .icon span{
    background-color: black;
    height: 2px;
    margin-bottom: 5px;
}
header .links .icon span:first-child {
    width: 100%;
}
header .links .icon span:nth-child(2){
    width: 60%;
    transition: .3s;
}
header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
header .links .icon span:last-child {
    width: 100%;
}

header .links ul::before {
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #eee  transparent;
    position: absolute;
    right: 0;
    top: -29px;
    content: "";
}
header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #eee;
    min-width: 200px;
    right: 0;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
header .links:hover ul {
    display: block;
}
header .links a {
    display: block;
    text-decoration: none;
    color: #777;
    padding: 10px;
    transition: .3s;
}
header .links a:hover {
    padding-left: 25px;
}
header .links li:not(:last-child){
    border-bottom: #777 1px solid ;
}
/* end header  */

/* begin landing  */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 84px);
    position: relative;
  }
  .landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
  }
  .landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
  }
  .landing .intro-text p {
    font-size: 17px;
    line-height: 1.7;
  }
/* end landing  */

/* begin features */
.features {
    background-color: #F6F6F6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 10px;
}
.features .feature{
    padding: 20px;
    text-align: center;
}
.features .feature i {
    color: var(--main-color);
}
.features .feature h3 {
    font-weight: 800;
    margin: 20px 0;
}
.features .feature p {
    line-height: 1.7;
    font-size: 17px;
    color: #777;
}
/* end features */